<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Words</title>

    <!-- Load style sheet -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <!--  jQuery CDN, needs to load prior to the main JS file that uses jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>

    <!-- keyboard -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">    
  </head>

  <body>
    <div class="container-fluid pb-6">
        <!--title info-->
        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-1"></div>
          <div class="col-lg-6 col-md-8 col-sm-10 centered">
            <h1>SUTOM-ish</h3>
            <p class="p-0 m-0">Common French Words, 6-8 letters</p>
            <p class="p-0 m-0">Word Selected: <%=day%></p>
            <p class="p-0 m-0">New Word In: <%=nextWord%></p>
          </div>
        </div>

        <!--canvas for game play-->
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-12 centered">
                <canvas id="viewport">
                </canvas>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <!--keyboard for game play-->
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-12 centered">
                <p id="input" class="p-0 m-0"></p>
                <p id="warning" class="p-0 m-0"></p>
                <div class="simple-keyboard"></div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>



    <!-- Finally, Load the game client code. -->
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="/words_fr.js" charset="utf-8"></script>
    <script src="/client.js" charset="utf-8"></script>
  </body>
</html>
